* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
  }

  li {
    list-style: none;
  }


  html,
  body {
    height: 100%;
    font-family: "Raleway";
    line-height: 1.2;
  }

  section {
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: 0;
  }

  
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .content {
    flex: 1 0 auto;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 92%;
    max-width: 1175px;
    margin: 0 auto;
}

.blue {
  color: $btnColor
}

.btn {
  padding: 15px 60px;
  cursor: pointer;
  border: 1px solid $borderBtn;
  border-radius: 4px;
  background: $baseColor;
  text-transform: uppercase;
  transition: .3s;
  margin-right: 30px;
  color: $dark;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $baseColor;
    background: $btnColor;
    color: $baseColor;
  }
}

.position-lock {
  overflow: hidden
}
  
  